@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    align-items: center;
    background: linear-gradient(135deg, #5071d5, #507050);
    display: flex;
    justify-content: center;
    /* height: 100vh; */
    padding: 20px;
}

.container {
    background-color: #f2f2f2;
    /* background-color: transparent; */
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    /* color: #fff; */
    max-width: 900px;
    padding: 25px 4%;
    width: 100%;
}

.container .title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    position: relative;
}

.container form .produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 12px 0;
}

.container form .produtos01 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 12px 0;
}

.container form .produtos01 input {
    margin: 0 10px 10px 0;
    /* width: 115px; */
}

.container form .produtos .input-box {
    margin-bottom: 15px;
    width: calc(100% / 6 - 10px);
}

.produtos .input-box .descricao {
    display: block;
    font-weight: bold;
    margin: 0 0 0 5px;
}

.produtos01 .input-box .descricao {
    font-weight: bold;
    margin-bottom: 10px;
}

.produtos02 .input-box .descricao {
    font-weight: bold;
    margin-bottom: 10px;
}

.produtos .input-box input {
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    border-radius: 5px;
    font-size: 15px;
    height: 35px;
    padding-left: 20px;
    outline: none;
    transition: all 0.5s ease;
    width: 100%;
}

.produtos01 .input-box input, select {
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
    outline: none;
    transition: all 0.5s ease;
    /* width: 15%; */
    width: 130px;
}

.produtos02 .input-box textarea {
    /* background-color: transparent; */
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    border-radius: 5px;
    /* color: #fff; */
    font-size: 13px;
    /* height: 75px; */
    padding-left: 10px;
    margin-bottom: 10px;
    outline: none;
    transition: all 0.5s ease;
    width: 100%;
    text-transform: uppercase;
    resize: none;
}



.produtos01 .input-box input:focus,
.produtos01 .input-box input:valid{
    border-color: #5071d5;
}


.produtos .input-box input:focus,
.produtos .input-box input:valid{
    border-color: #5071d5;
}

form .restricoes .visibilidade {
    font-size: 20px;
    font-weight: bold;
}

form .restricoes .categorias {
    display: flex;
    justify-content: space-between;
    margin: 14px 0;
    width: 100%;  /*O DELE É COM 80%*/
}

.restricoes .categorias label {
    align-items: center;
    display: flex;
}

.restricoes .categorias .dot {
    background: #d9d9d9;
    border: 5px solid transparent;
    border-radius: 50%;
    height: 18px;
    margin-right: 5px;
    margin-left: 15px;
    transition: all 0.5s ease;
    width: 18px;
}

#dot-1:checked ~ .categorias label .um,
#dot-3:checked ~ .categorias label .tres {
    background-color: #9b59b6;
    border-color: #d9d9d9;
}

#dot-2:checked ~ .categorias label .dois {
    background-color: red;
    border-color: #d9d9d9;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 45px 0;
}

form .button input {
    color: #fff;
    background: linear-gradient(135deg, #5071d5, #507050);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    letter-spacing: 1px;
    outline: none;
    transition: all .8s ease;
    width: 100%;
}

form .button input:hover {
    background: linear-gradient(-135deg, #5071d5, #507050);
}

@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }
    .container form .produtos .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
    form .restricoes .categorias {
        width: 100%;
    }
    .container form .produtos {
       max-height: 400px;
       overflow-y: scroll;
    }

    .produtos::-webkit-scrollbar{
        width: 0;
    }
}